.container {
  background: #ebf2f8;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 200px 1fr 200px;
  .top {
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      font-size: 2rem;
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
      b {
        border-bottom: 0.5px dashed #f36176;
        padding: 5px;
      }
    }
  }
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    .wrapper {
      width: 1320px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 10px;
    }
  }
  .bottom {
  }
}
